/* app/globals.css */
@import "tailwindcss";

/* These styles work directly with the 'next-themes' package.
   It adds the 'dark' class to the html tag.
*/
html {
  background-color: #FBFBFB;
  color: #171717; /* Light mode is the default */
}

html.dark {
  background-color: #1E1E1E;
  color: white; /* These styles apply when dark mode is on */
}

/* Add a smooth transition for color changes */
body {
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
